<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
          <a mat-list-item [routerLink]="['/registration']">Registration</a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
  <mat-toolbar>
      <button (click)="sidenav.toggle()" mat-icon-buttom><i class="material-icons">swap_horiz</i></button>
      <span class="example-fill-remaining-space"></span>
      <a routerLink="login" class="navbar-link navbar-brand">Diet User Login</a>
  </mat-toolbar>
  <div class="main-cont">
    <h1>Welcome to Online Diet System</h1>
    <p>Please click on Registration link to enroll in <strong> Diet Management System</strong>.</p>
    <app-login></app-login>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>
